/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "../partials/_base";
@import "../partials/top";
@import "../partials/form";

#main-content
{
	padding-top: 0px !important;
}

h3, section
{
	text-align: center;
}

h3
{
	padding-bottom: 30px;
}

section
{
	padding: 0 !important;

	& > div
	{
		padding-top: 40px;
		padding-bottom: 40px;

		border-bottom: 1px solid $color-border-lighter;
	}

	&:last-child > div
	{ border-bottom: none; }
}

#stats
{
	margin-top: 0 !important;

	& > div
	{
		padding-top: 20px;
		padding-bottom: 20px;
	}

	ul
	{
		width: 100%;

		li
		{
			&, a
			{
				font-family: $font-title;
				font-size: 34px;
				color: $color-text;
				text-decoration: none;
			}

			.icon
			{
				color: $color-secondary;
				top: -3px;
			}
		}
	}	
}

#about
{
	& > div
	{}

	p
	{
		font-size: 20px;
		line-height: 2em;
	}
}

#interests
{
	& > div
	{}

	ul
	{
		li
		{
			display: inline-block;
			margin-right: 0.5em;
			margin-bottom: 1.0em;

			&:last-child{ margin-right:0; }

			a
			{
				@include button-highlighted;
			}
		}
	}
}

#common
{
	& > div
	{}

	ul
	{
		width: 100%;

		li
		{
			padding-left: 10px;
			padding-right: 10px;
			width: 33%;

			.number-block
			{
				@include button-block;

				width: 100%;
				padding-top: 30px;
				padding-bottom: 30px;

				font-family: $font-title;
				font-weight: 100;
				font-size: 60px;
			}

			.number-block-caption
			{
				margin-top: 5px;

				font-size: 14px;
				color: lighten( $color-text, 10% );
			}

			.icon
			{
				font-size: 16px;
			}
		}
	}
}

#message
{
	text-align: left;

	h4
	{
		padding-bottom: 20px;
	}
}
