<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Buddy Up</title>
        <link href="../_assets/css/bootstrap/bootstrap.min.css" rel="stylesheet">
        <link href="../_assets/css/templates/everything.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,900' rel='stylesheet' type='text/css'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="../_assets/js/bootstrap.min.js"></script>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-default container" role="navigation">
                <div class="wrapper">
                    <!-- Mobile menu -->
                    <div class="navbar-header" id="nav-mobile">
                        <button id="menu-button" class="navbar-toggle logo-wrapper" data-toggle="collapse" data-target="#nav-main">
                            <span class="logo">Logo</span>
                        </button>
                        <a href="../secondary/all-notifications.html" id="notifications-button" class="navbar-toggle notifications" data-toggle="collapse" data-target="#nav-notifications">
                            <span class="icon icon-notification"></span><span class="icon icon-badge">4</span>
                        </a>
                    </div>

                    <!-- Regular menu -->
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="nav-main">
                        <ul class="nav navbar-nav">
                            <li class="hidden-xs main-link logo-wrapper"><a href="../index.html" class="logo">&nbsp;</a></li>
                            <li class="visible-xs-block main-link"><a href="../index.html">Home</a></li>
                            <li class="main-link"><a href="../buddies/index.html">Buddies</a></li>
                            <li class="main-link"><a href="../courses/index.html">Courses</a></li>
                            <li class="main-link"><a href="../tutors/index.html">Tutors</a></li>
                            <li class="hidden-xs pull-right" id="profile-overflow">
                                <!-- Profile & Overflow dropdown -->
                                <a href="" data-toggle="dropdown" class="button">
                                    <span class="img" style="background-image: url('../_assets/images/people/bforrest-200-200.png');">&nbsp;</span>
                                    <span class="name">Brian Forrester</span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dLabel">
                                    <li role="presentation">
                                        <ul class="list overflow-list">
                                            <li class=""><a href="../secondary/my-profile">My Profile</a></li>
                                            <li class=""><a href="../secondary/my-events.html">My Events</a></li>
                                            <li class=""><a href="../secondary/help.html">Help</a></li>
                                            <li class=""><a href="../registration/logout.html">Log out</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <!-- / Profile & Overflow dropdown -->
                            </li>
                            <li class="hidden-xs pull-right" id="notifications">
                                <!-- Notifications dropdown. Appears after Profile because float:right -->
                                <a href="" data-toggle="dropdown" class="button notifications"><span class="icon icon-notification"></span><span class="icon icon-badge">4</span></a>
                                <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dLabel">
                                    <li role="presentation">

                                        
                                        <ul class="tablelist-group">
                                            <li class="tablelist-group-row">
                                                <a href="../buddies/profile.html">
                                                    <ul class="tablelist">
                                                        <li class="icon"><div class="block circle" style="background-image:url('../_assets/images/people/15.jpg')">&nbsp;</div></li>
                                                        <li class="main">
                                                            <div class="title">John Doe is now following you!</div>
                                                            <div class="subtitle">5:32PM</div>
                                                        </li>
                                                    </ul>
                                                </a>
                                            </li>
                                            <li class="tablelist-group-row">
                                                <a href="../courses/event-detail.html">
                                                    <ul class="tablelist">
                                                        <li class="icon"><div class="block square" style="background-image:url('../_assets/images/courses/stats101.jpg')">&nbsp;</div></li>
                                                        <li class="main">
                                                            <div class="title">You've been invited to an event!</div>
                                                            <div class="subtitle">5:32PM</div>
                                                        </li>
                                                    </ul>
                                                </a>
                                            </li>
                                            <li class="see-all">
                                                <a href="../secondary/all-notifications.html">
                                                    <span class="icon icon-notification">&nbsp;</span>See all notifications
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <!-- / Notifications dropdown -->
                            </li>
                            <!-- Reiterate overflow menu ONLY for mobile menu -->
                            <li class="visible-xs-block"><a href="../secondary/my-profile">My Profile</a></li>
                            <li class="visible-xs-block"><a href="../secondary/my-events.html">My Events</a></li>
                            <li class="visible-xs-block"><a href="../secondary/help.html">Help</a></li>
                            <li class="visible-xs-block"><a href="../registration/logout.html">Log out</a></li>
                            <!-- /Reiterate overflow menu for mobile menu -->
                        </ul>
                    </div> <!-- ./navbar-collapse -->
                </div><!-- /wrapper -->
            </nav>
        </header>
        
        <div id="main">
            <article id="top" class="simple">
                <div class="wrapper container">
                    <div class="row">
                        <h1 class="col-md-6 col-md-offset-3">Simple Page</h1>
                        <p class="col-md-6 col-md-offset-3">
                            Lorem Ipsum dolor sit amet is simply dummy text of the printing and typesetting industry.
                        </p>
                    </div>
                </div>
            </article>

            <article id="main-content" class="container">

                <section id="" class="row">
                    <div class="col-md-6 col-md-offset-3">
                        content
                    </div>
                </section>

            </article>
        </div>

        <footer>
            <div class="container">
                <p class="row">
                    <span><a href="../secondary/privacy.html">Privacy Policy</a></spam>
                    &bull;
                    <span><a href="../secondary/terms.html">Terms</a></span>
                    &bull;
                    <span>&copy;BuddyUp, inc. 2014  &mdash; All rights reserved.</span>
                    &bull;
                    <span>Icons by <a href="http://www.entypo.com" target="_blank">Entypo</a></span>
                </p>
            </div>
        </footer>
    </body>
</html>