<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Buddy Up</title>
        <link href="../_assets/css/bootstrap/bootstrap.min.css" rel="stylesheet">
        <link href="../_assets/css/templates/everything.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,900' rel='stylesheet' type='text/css'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="../_assets/js/bootstrap.min.js"></script>
    </head>
    <body>
        <header>
            <nav class="container">
                <div class="main">
                    <ul>
                        <li class="logo"><a href="../index.html"><img src="../_assets/images/nav/logo@2x.png" height="45" /></a></li>
                        <li><a href="../buddies/index.html">Buddies</a></li>
                        <li><a href="../courses/index.html">Courses</a></li>
                        <li><a href="../tutors/index.html">Tutors</a></li>
                    </ul>
                </div>
                <div class="notifications">
                    <a href="" class="button">&nbsp;<span class="badging">4</span></a>
                    <!--
                    <ul>
                        <li><a href="">&nbsp;</a></li>
                    </ul>
                    -->
                </div>
                <div class="overflow">
                    <a href="../site-map.html" class="button">
                        <span class="img" style="background-image: url('../_assets/images/people/bforrest-200-200.png');">&nbsp;</span>
                        <span class="name">Brian Forrester</span>
                    </a>
                    <!--
                    <ul>
                        <li><a href="">&nbsp;</a></li>
                    </ul>
                    -->
                </div>
            </nav>
        </header>
        
        <div id="main">
            <article id="top" class="filter">
                <div class="wrapper container">
                    <div class="row">
                        <div class="col-md-12 col-md-offset-0">
                            <a href="" class="action button small primary">Take Action</a>
                            <h1>Landing</h1>
                        </div>
                        <div class="col-md-12 col-md-offset-0">
                            <ul class="filter">
                                <li><a href="">Following</a></li>
                                <li><a href="" class="selected">Everyone</a></li>
                                <li><a href="">Major</a></li>
                                <li><a href="">Language</a></li>
                                <li><a href="">Location</a></li>
                                <li><a href="">Advanced Search</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </article>

            <article id="main-content" class="container">

                <section id="" class="row">
                    <div class="col-md-12 col-md-offset-0">
                        content
                    </div>
                </section>

            </article>
        </div>

        <footer>
            <div class="container">
                <p class="row">
                    <a href="">Privacy Policy</a>
                    &nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;
                    <a href="">Terms</a>
                    &nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;
                    &copy;BuddyUp, inc. 2014  &mdash; All rights reserved.
                    &nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;
                    Icons by <a href="http://www.entypo.com">Entypo</a>
                </p>
            </div>
        </footer>
    </body>
</html>