<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Buddy Up</title>
        <link href="../_assets/css/bootstrap/bootstrap.min.css" rel="stylesheet">
        <link href="../_assets/css/templates/everything.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,900' rel='stylesheet' type='text/css'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="../_assets/js/bootstrap.min.js"></script>
    </head>
    <body>
        <header>
            <nav class="container">
                <div class="main">
                    <ul>
                        <li class="logo"><a href="../index.html"><img src="../_assets/images/nav/logo@2x.png" height="45" /></a></li>
                        <li><a href="../buddies/index.html">Buddies</a></li>
                        <li><a href="../courses/index.html">Courses</a></li>
                        <li><a href="../tutors/index.html">Tutors</a></li>
                    </ul>
                </div>
                <div class="notifications">
                    <a href="" class="button">&nbsp;<span class="badging">4</span></a>
                    <!--
                    <ul>
                        <li><a href="">&nbsp;</a></li>
                    </ul>
                    -->
                </div>
                <div class="overflow">
                    <a href="../site-map.html" class="button">
                        <span class="img" style="background-image: url('../_assets/images/people/bforrest-200-200.png');">&nbsp;</span>
                        <span class="name">Brian Forrester</span>
                    </a>
                    <!--
                    <ul>
                        <li><a href="">&nbsp;</a></li>
                    </ul>
                    -->
                </div>
            </nav>
        </header>
        
        <div id="main">
            <article id="top" class="simple">
                <div class="wrapper container">
                    <div class="row">
                        <h1 class="col-md-6 col-md-offset-3">Lists</h1>
                    </div>
                </div>
            </article>

            <article id="main-content" class="container">

                <section id="" class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="group-heading"><h3>People List</h3></div>
                        <ul class="tablelist-group">
                            <li class="tablelist-group-row">
                                <ul class="tablelist">
                                    <li class="icon"><a href="./profile.html"><div class="block circle" style="background-image:url('../_assets/images/people/15.jpg')">&nbsp;</div></a></li>
                                    <li class="main">
                                        <div class="title">John Doe is now following you!</div>
                                        <div class="subtitle">5:32PM</div>
                                    </li>
                                    <li class="action"><a href="#">Follow</a></li>
                                </ul>
                            </li>
                            <li class="tablelist-group-row">
                                <ul class="tablelist">
                                    <li class="icon"><a href="./profile.html"><div class="block circle" style="background-image:url('../_assets/images/people/15.jpg')">&nbsp;</div></a></li>
                                    <li class="main">
                                        <div class="title">John Doe is now following you!</div>
                                        <div class="subtitle">5:32PM</div>
                                    </li>
                                    <li class="action"><a href="#">Follow</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </section>

                <section id="" class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="group-heading"><h3>Event List</h3></div>
                        <ul class="tablelist-group">
                            <li class="tablelist-group-row">
                                <ul class="tablelist">
                                    <li class="date"><span class="date">June 31</span> <span class="time">6PM-8PM</span></li>
                                    <li class="main">
                                        <div class="title"><a href="#">Midterms Study Sesh</a></div>
                                        <div class="subtitle"><span class="icon icon-course"> Stat 101</span>&bull;<span class="icon icon-location"> Pioneer Square</span></div>
                                    </li>
                                    <li class="action"><a href="#">Details</a></li>
                                </ul>
                            </li>
                            <li class="tablelist-group-row">
                                <ul class="tablelist">
                                    <li class="date"><span class="date">June 31</span> <span class="time">6PM-8PM</span></li>
                                    <li class="main">
                                        <div class="title"><a href="#">Midterms Study Sesh</a></div>
                                        <div class="subtitle"><span class="icon icon-course"> Stat 101</span>&bull;<span class="icon icon-location"> Pioneer Square</span></div>
                                    </li>
                                    <li class="action"><a href="#">Details</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </section>


                <section id="" class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="group-heading"><h3>File List</h3></div>
                        <ul class="tablelist-group">
                            <li class="tablelist-group-row">
                                <ul class="tablelist">
                                    <li class="icon">
                                        <a href="#"><span class="icon icon-file">&nbsp;</span></a>
                                    </li>
                                    <li class="main">
                                        <span class="title"><a href="#">Stats 101 - Notes - Wed June 1.pdf</a></span>
                                        <span class="subtitle">By <a href="./profile.html">Brian Forrester</a></span>
                                    </li>
                                    <li class="other">6/01/2014</li>
                                    <li class="other">2 views</li>
                                    <li class="action"><a href="#">Download</a></li>
                                </ul>
                            </li>
                            <li class="tablelist-group-row">
                                <ul class="tablelist">
                                    <li class="icon">
                                        <a href="#"><span class="icon icon-file">&nbsp;</span></a>
                                    </li>
                                    <li class="main">
                                        <span class="title"><a href="#">Stats 101 - Notes - Wed June 1.pdf</a></span>
                                        <span class="subtitle">By <a href="./profile.html">Brian Forrester</a></span>
                                    </li>
                                    <li class="other">6/01/2014</li>
                                    <li class="other">2 views</li>
                                    <li class="action"><a href="#">Download</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </section>

                <section id="" class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="group-heading"><h3>Comment List</h3></div>
                        <ul class="tablelist-group">
                            <li class="tablelist-group-row">
                                <ul class="tablelist message">
                                    <li class="icon"><a href="./profile.html"><div class="block circle" style="background-image:url('../_assets/images/people/15.jpg')">&nbsp;</div></a></li>
                                    <li class="main">
                                        <div class="message">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
                                        <div class="subtitle"><span><a href="./profile.html">Eric Piper</a></span>&bull;<span>June 31 - 5:32PM</span></div>
                                    </li>
                                </ul>
                            </li>
                            <li class="tablelist-group-row">
                                <ul class="tablelist message">
                                    <li class="icon"><a href="./profile.html"><div class="block circle" style="background-image:url('../_assets/images/people/15.jpg')">&nbsp;</div></a></li>
                                    <li class="main">
                                        <div class="message">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </div>
                                        <div class="subtitle"><span><a href="./profile.html">Eric Piper</a></span>&bull;<span>June 31 - 5:32PM</span></div>
                                    </li>
                                </ul>
                            </li>
                            <li class="tablelist-group-row">
                                <div class="message-add">
                                    <h4>Add a comment</h4>
                                    <textarea rows="4"></textarea>
                                    <a href="#" class="button small submit">Send</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>

                <section id="" class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="group-heading"><h3>Block List</h3></div>
                        <ul class="block-list">
                            <li class="">
                                <a href="#"><div class="block" style="background-image:url('../_assets/images/people/1.jpg')">&nbsp;</div></a>
                            </li>
                            <li class="">
                                <a href="#"><div class="block" style="background-image:url('../_assets/images/people/2.jpg')">&nbsp;</div></a>
                            </li>
                            <li class="">
                                <a href="#"><div class="block" style="background-image:url('../_assets/images/people/3.jpg')">&nbsp;</div></a>
                            </li>
                            <li class="">
                                <a href="#"><div class="block" style="background-image:url('../_assets/images/people/4.jpg')">&nbsp;</div></a>
                            </li>
                            <li class="">
                                <a href="#"><div class="block" style="background-image:url('../_assets/images/people/5.jpg')">&nbsp;</div></a>
                            </li>
                            <li class="">
                                <a href="#"><div class="block" style="background-image:url('../_assets/images/people/6.jpg')">&nbsp;</div></a>
                            </li>
                            <li class="">
                                <a href="#"><div class="block" style="background-image:url('../_assets/images/people/7.jpg')">&nbsp;</div></a>
                            </li>
                            <li class="">
                                <a href="#"><div class="block" style="background-image:url('../_assets/images/people/8.jpg')">&nbsp;</div></a>
                            </li>
                            <li class="">
                                <a href="#"><div class="block overflow"><span><sup>+</sup>40</span></div></a>
                            </li>
                        </ul>
                    </div>
                </section>



            </article>
        </div>

        <footer>
            <div class="container">
                <p class="row">
                    <a href="">Privacy Policy</a>
                    &nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;
                    <a href="">Terms</a>
                    &nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;
                    &copy;BuddyUp, inc. 2014  &mdash; All rights reserved.
                    &nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;
                    Icons by <a href="http://www.entypo.com">Entypo</a>
                </p>
            </div>
        </footer>
    </body>
</html>