.block-grid
{
	display: block;

	.block
	{
		position: relative;
		display: inline-block;

		@include respond-to-size-xs
		{
			width: 100%;

			img
			{ 
				width: 100%;
				height: 100%;
			}
		}

		@include respond-to-size-sm
		{
			$block-size: 214px;

			width: $block-size;
			height: $block-size;

			margin-right: 10px;
			margin-bottom: 10px;
		}

		@include block-background;
		border: 1px solid $color-border-darker;

		a
		{
			display: block;
			width: 100%;

			text-decoration: none;
		}

		&.followed
		{
			position: relative;

			&:before
			{
				content: ' ';
				position: absolute;
				bottom: -10px;
				right: -10px;

				width: 50px;
				height: 50px;
				border-radius: 50px;

				background-color: $color-secondary;
				border: 10px solid white;

			}

			&:after
			{
				content: '\2713';
				position: absolute;
				bottom: 0px;
				right: 7px;

				font-family: $font-symbol;
				color: white;
				font-size: 30px;
			}
		}

		&.selected, &:hover
		{
			position: relative;

			.info
			{
				position: absolute;
				top: 0px;
				left: 0px;

				display: block !important;
				width: 100%;
				height: 100%;

				background-color: transparentize( $color-primary, 0.15 );

				.wrapper
				{
					position: relative;
					height: 100%;

					display: block;
					text-align: center;
					vertical-align: middle;
				}

				.wrapper > span
				{
					position: absolute !important;

					display: inline-block;
					width: 100%;


					color: white;

					&.title
					{
						top: 45%;
						@include transform( translate(0, -45%) );
						left: 0px;

						font-weight: 600;
						font-size: 18px;
					}

					&.subtitle
					{
						top: 45%;
						@include transform( translate(0, -45%) );
						left: 0px;

						margin-top: 1.5em;
						font-size: 14px;

						.icon
						{ font-size: 22px !important; }
					}

					&.button
					{
						@include button( white, $color-primary );

						bottom: 20px;
						left: 20%;
						width: 60%;

						line-height: 110% !important;
						padding: 0.5em 1em 0.5em 1em !important;

						.icon
						{ 
							display: inline-block;
							padding-bottom: 0.15em;

							font-size: 22px !important; 

						}
					}
				}
			}
		}
	}

}