

/*/  /*/

#top
{
	// overflow: auto;
	padding-top: 40px;

	background-color: $color-background-blue;
	border-top: 1px solid $color-border-lighter;
	border-bottom: 1px solid $color-border-lighter;

	color: $color-blue-dull-dark;

	.wrapper
	{
		// overflow: auto;
		position: relative;
	}

	h1
	{}

	.subtitle
	{
		display: inline-block;
		margin-top: 10px;

		color: $color-text;
		font-size: 14px;

		span
		{
			margin-left: 0.75em;
			margin-right: 0.75em;

			&:first-child { margin-left: 0; }
			&:last-child  { margin-right: 0; }

			&.icon:before
			{ 
				font-size: 1.5em;
				color: lighten( $color-text, 20% );
			}

			a
			{
				@include text-link;
				color: $color-text;
			}
		}
	}

	a.action
	{
		display: inline-block;
	}

	.thumbnail
	{
		@include block-background;
		
		border-radius: 0;

		border: 1px solid $color-text;

		@include respond-to-size-xs
		{
			width: 44px;
			height: 44px;
			float:left;
			margin-right: 20px;
		}

		@include respond-to-size-sm
		{
			width: $col;
			height: $col;
			float:left;
			margin-right: 40px;
		}

		& + h1
		{
			font-size: 48px;
		}
	}

}

#top.simple
{
	padding-top: 60px;
	padding-bottom: 40px;

	h1
	{
		margin-bottom: 20px;
	}

	h1:only-child
	{
		margin-bottom: 0px;
	}

	p
	{
		color: $color-text;
		font-size: 18px;
		line-height: 1.5em;
	}

	a.action
	{
		display: inline-block;
		margin-top: 30px;
	}
}

#top.detail
{
	padding-bottom: 20px;

	h1
	{
		font-size: 46px;
	}

	@include respond-to-size-xs
	{
		h1
		{
			margin-top: 0px;
		}

		.action
		{
			display: inline-block;

			margin-top: 20px !important;
			width: 100%;
			text-align: center;
		}
	}

	@include respond-to-size-sm
	{
		h1
		{
			margin-top: 5px;
		}

		.action
		{
			margin-top: 5px;
			float: right;
		}		
	}
}

#top.filter
{
	// Mobile styling

	@include respond-to-size-xs
	{
		.col-md-12.col-md-offset-0
		{
			&:last-child
			{
				// in the case of mobile, this is the row that wraps the dropdown that replaces the filter
				padding-top: 20px;
				padding-bottom: 20px;

				border-top: 1px solid $color-border-darker;
				background-color: white;
			}
		}

		a.action
		{
			float: none !important;
			display: block;
			width: 100%;

			margin-top: 20px !important;
			// margin-bottom: 20px !important;

			text-align: center;
		}

		a.button.dropdown
		{
			@include button( $color-gray-medium, white, true );

			position: relative;

			width: 100%;

			&:before
			{
				content: '\25BE';

				position: absolute;
				right: 10px;

				$font-family: $font-symbol;

			}
		}

		a.button.dropdown + .dropdown-menu
		{
			width: 100%;
			border: 1px solid $color-gray-medium;

			li
			{
				border-bottom: 1px solid $color-border-lighter;

				a.selected
				{
					background-color: $color-primary;
					color: white;
				}

				a
				{
					padding-top: 10px;
					padding-bottom: 10px;

					color: $color-gray-medium;
				}
			}
		}
	}

	// Non-mobile styling

	@include respond-to-size-sm
	{
		a.action
		{
			position: absolute;
			right: 35px;
			top: 20px;
		}
	}

	// Normal stying

	.col-md-12.col-md-offset-0
	{
		padding-left: $col / 2;
		padding-right: $col / 2;

		&:first-child
		{
			padding-bottom: 30px;
		}
	}

	h1
	{
		display: block;
		// float: left;
	}

	.subtitle
	{
		display: inline-block;
		// float: left;
		// clear: right;
	}

	a.action
	{}

	ul.filter
	{
		display: table;
		width: 100%;
		margin-top: 20px;

		li
		{
			display: table-cell;
			width: 1%;
			text-align: center;

			padding-left: 20px;
			padding-right: 20px;

			&:first-child
			{ 
				text-align: left;
				padding-left: 0px;
			}

			&:last-child
			{ 
				width: auto; 
				text-align: right;
				padding-left: 0px;
				padding-right: 0px;
			}

			a
			{
				display: inline-block;
				padding-bottom: 10px;

				font-size: 14px;
				color: $color-blue-dull-light;
				text-decoration: none;

				&:hover
				{ color: $color-secondary; }

				&.selected
				{ 
					color: $color-blue-dull-dark;
					font-weight: 400;
					border-bottom: 2px solid $color-secondary;

				}
			}
		}
	}

}

#top.profile
{
	padding-bottom: 40px;

	text-align: center;

	div.profile-image, div.course-image
	{
		display: inline-block;
		background-color: white;
		border: 1px solid $color-border-lighter;
	}

	div.profile-image
	{
		@include circle( 180px );
		@include block-background;
	}

	div.course-image
	{
		@include square( 150px, 5px );
		@include block-background;
	}

	h1
	{
		padding-top: 20px;
		padding-bottom: 5px;
	}

	.subtitle
	{
		padding-bottom: 30px;

		color: $color-text;
		font-size: 16px;
	}

	.action
	{}
}