#top
{
	overflow: auto;
	padding-top: 40px;

	background-color: $color-background-blue;
	border-top: 1px solid $color-border-lighter;
	border-bottom: 1px solid $color-border-lighter;

	color: $color-blue-dull-dark;

	.wrapper
	{
		overflow: auto;
		position: relative;
	}

	a.action
	{
		display: inline-block;
	}

}

#top.simple
{
	padding-top: 60px;
	padding-bottom: 30px;

	// .wrapper
	// {
	// 	text-align: center;
	// }

	h1
	{
		margin-bottom: 30px;
	}

	p
	{
		color: $color-text;
		font-size: 18px;
		line-height: 1.5em;
	}

	a.action
	{
		display: inline-block;
		margin-top: 30px;
	}
}

#top.detail
{
	padding-bottom: 20px;

	.thumbnail
	{
		@include block-background;
		width: $col;
		height: $col;
		border-radius: 0;

		float:left;

		margin-right: 40px;

		border: 1px solid $color-text;

		& + h1
		{
			font-size: 48px;
		}
	}

	h1
	{}

	.subtitle
	{
		display: inline-block;
		margin-top: 5px;

		color: $color-text;
		font-size: 14px;
	}

	.action
	{
		float: right;
	}
}

#top.filter
{
	h1
	{
		display: inline-block;
		float: left;
		padding-bottom: 30px;
	}

	a.action
	{
		float: right;
	}

	ul.filter
	{
		display: table;
		width: 100%;
		margin-top: 20px;

		li
		{
			display: table-cell;
			width: 1%;
			text-align: center;

			padding-left: 20px;
			padding-right: 20px;

			&:first-child
			{ 
				text-align: left;
				padding-left: 0px;
			}

			&:last-child
			{ 
				width: auto; 
				text-align: right;
				padding-left: 0px;
				padding-right: 0px;
			}

			a
			{
				display: inline-block;
				padding-bottom: 10px;

				font-size: 14px;
				color: $color-blue-dull-light;
				text-decoration: none;

				&:hover
				{ color: $color-secondary; }

				&.selected
				{ 
					color: $color-blue-dull-dark;
					font-weight: 400;
					border-bottom: 2px solid $color-secondary;

				}
			}
		}
	}
}

#top.profile
{
	padding-bottom: 40px;

	text-align: center;

	div.profile-image
	{
		@include block-background;

		display: inline-block;

		width: 180px;
		height: 180px;
		border-radius: 180px;
	}

	h1
	{
		padding-top: 20px;
		padding-bottom: 10px;
	}

	.subtitle
	{
		padding-bottom: 30px;

		color: $color-text;
		font-size: 16px;
	}

	.action
	{}
}